 .shop-container{
    overflow-x: hidden;
}

.cart-container{
    background-color: rgb(224, 157, 108);
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 0;
    box-shadow: 2px 0 2px 0;
}
