
.cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart img{
    width:80px;
    height: 80px;
    border-radius:70%;
    /* margin: 0; */
}

.btn-choose{
    background-color: black;
    color: antiquewhite;
    /* margin: 20px; */
    padding:8px;
}

.btn-choose:hover{
    background-color:wheat;
    color:blue;
}

.btn-reset{
    background-color: black;
    color: antiquewhite;
    padding:8px;
    /* margin-bottom: 20px; */
}
.btn-reset:hover{
    background-color:wheat;
    color:blue;

}

.delete-btn{
    border: none;
    background-color: rgb(238, 155, 95);
}